.dashboard__panel {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.dashboard__panel__header {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  color: #a3a3a3;
  background-color: #1f1f1f;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

.dashboard__panel__header a {
  cursor: pointer;
  transition: color 0.3s;
}

.dashboard__panel__header a:hover {
  color: #fff;
}

.dashboard__panel__header a.active {
  font-weight: 600;
  color: #fff;
}

.dashboard__panel__content {
  flex: 1;
  overflow-y: auto;
}

.dashboard__panel__content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard__panel__content li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard__panel__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}

.dashboard__panel__subheader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
  background-color: #1f1f1f;
  font-size: 12px;
  color: #a3a3a3;
}

.dashboard__panel__subheader__dropdown {
  display: inherit;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  width: 100%;
}

.dashboard__panel__section__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 8px;
}