.dashboard__preview {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}

.dashboard__preview__screen {
  background-color: #fff;
  width: 1920px;
  height: 1080px;
  position: absolute;
  scale: 0.7;
}

.dashboard__preview__screen.tablet {
  width: 768px;
  height: 1024px;
  scale: 0.8;
}

.dashboard__preview__screen.mobile {
  width: 375px;
  height: 667px;
  scale: 1.2;
}

.dashboard__preview__screen__content {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.dashboard__preview__screen__webpage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
