.dashboard__nav {
  display: flex;
  border: solid 0 #000;
  position: relative;
  z-index: 10;
}

.dashboard__nav.top {
  flex-direction: row;
  height: 36px;
  border-bottom-width: 1px;
}

.dashboard__nav.left {
  flex-direction: column;
  width: 36px;
  border-right-width: 1px;
}

.dashboard__nav ul {
  display: inherit;
  flex-direction: inherit;
}

.dashboard__nav li {
  cursor: pointer;
  padding: 8px;
  /* background-color: black; */
  color: #fff;
  transition: background-color 0.3s;
  pointer-events: all;
}

.dashboard__nav.left li {
  width: 100%;
  padding-block: 12px;
  border-bottom: 1px solid #000;
}

.dashboard__nav.top li {
  height: 100%;
  padding-inline: 12px;
  border-right: 1px solid #000;
}

.dashboard__nav.top li:first-child {
  border-left: 1px solid #000;
}

.dashboard__nav li:hover {
  background-color: #000;
}

.dashboard__screens {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}