.gizmo {
  display: flex;
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 2px;
  cursor: grab;
  padding: 2px;
  transition: all 0.5s ease;
  background-color: inherit;
  gap: 2px;
  position: relative;
}

.gizmo:not(.disabled):hover {
  filter: brightness(1.5);
  transform: scale(1.03);
  rotate: 3deg;
}

.gizmo.disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  opacity: 0.5;
}

.gizmo div:not(:is(.icon)) {
  border: 2px dashed var(--primary-color);
}

.gizmo .icon {
  width: 60%;
  height: 60%;
  margin: 20% 20%;
  color: var(--primary-color);
}

.gizmo__wrapper {
  position: relative;
}

.gizmo__wrapper span {
  pointer-events: none;
  font-size: 0.8rem;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease;
  background-color: var(--background-color-dark);
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.gizmo__wrapper:hover span {
  opacity: 1;
}