.background__stars__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.11em;
  --top-offset: 41.56vh;
  --fall-duration: 9.25s;
  --fall-delay: 4.675s;
}
.star:nth-child(2) {
  --star-tail-length: 5.86em;
  --top-offset: 82.57vh;
  --fall-duration: 10.096s;
  --fall-delay: 7.257s;
}
.star:nth-child(3) {
  --star-tail-length: 5.6em;
  --top-offset: 90.85vh;
  --fall-duration: 10.105s;
  --fall-delay: 6.155s;
}
.star:nth-child(4) {
  --star-tail-length: 6.16em;
  --top-offset: 99.63vh;
  --fall-duration: 7.237s;
  --fall-delay: 7.984s;
}
.star:nth-child(5) {
  --star-tail-length: 6.4em;
  --top-offset: 60.49vh;
  --fall-duration: 11.086s;
  --fall-delay: 0.143s;
}
.star:nth-child(6) {
  --star-tail-length: 6.37em;
  --top-offset: 67.73vh;
  --fall-duration: 11.334s;
  --fall-delay: 3.721s;
}
.star:nth-child(7) {
  --star-tail-length: 6.8em;
  --top-offset: 2.41vh;
  --fall-duration: 8.018s;
  --fall-delay: 5.379s;
}
.star:nth-child(8) {
  --star-tail-length: 6.98em;
  --top-offset: 4.64vh;
  --fall-duration: 9.769s;
  --fall-delay: 5.45s;
}
.star:nth-child(9) {
  --star-tail-length: 7.22em;
  --top-offset: 8.25vh;
  --fall-duration: 7.101s;
  --fall-delay: 2.323s;
}
.star:nth-child(10) {
  --star-tail-length: 6.91em;
  --top-offset: 28.04vh;
  --fall-duration: 11.589s;
  --fall-delay: 9.785s;
}
.star:nth-child(11) {
  --star-tail-length: 5.04em;
  --top-offset: 35.62vh;
  --fall-duration: 8.898s;
  --fall-delay: 9.578s;
}
.star:nth-child(12) {
  --star-tail-length: 5.41em;
  --top-offset: 35.78vh;
  --fall-duration: 11.895s;
  --fall-delay: 7.349s;
}
.star:nth-child(13) {
  --star-tail-length: 5.04em;
  --top-offset: 84.18vh;
  --fall-duration: 11.379s;
  --fall-delay: 6.073s;
}
.star:nth-child(14) {
  --star-tail-length: 6.03em;
  --top-offset: 97.25vh;
  --fall-duration: 6.655s;
  --fall-delay: 8.348s;
}
.star:nth-child(15) {
  --star-tail-length: 5.85em;
  --top-offset: 0.52vh;
  --fall-duration: 11.121s;
  --fall-delay: 2.513s;
}
.star:nth-child(16) {
  --star-tail-length: 5.32em;
  --top-offset: 55.03vh;
  --fall-duration: 7.48s;
  --fall-delay: 2.015s;
}
.star:nth-child(17) {
  --star-tail-length: 7.28em;
  --top-offset: 61.01vh;
  --fall-duration: 9.936s;
  --fall-delay: 9.151s;
}
.star:nth-child(18) {
  --star-tail-length: 5.41em;
  --top-offset: 18.72vh;
  --fall-duration: 8.355s;
  --fall-delay: 8.442s;
}
.star:nth-child(19) {
  --star-tail-length: 5.89em;
  --top-offset: 33.8vh;
  --fall-duration: 6.043s;
  --fall-delay: 3.371s;
}
.star:nth-child(20) {
  --star-tail-length: 5.99em;
  --top-offset: 56.28vh;
  --fall-duration: 6.9s;
  --fall-delay: 1.521s;
}
.star:nth-child(21) {
  --star-tail-length: 5.14em;
  --top-offset: 79.24vh;
  --fall-duration: 11.082s;
  --fall-delay: 4.166s;
}
.star:nth-child(22) {
  --star-tail-length: 5.89em;
  --top-offset: 37.13vh;
  --fall-duration: 9.563s;
  --fall-delay: 9.161s;
}
.star:nth-child(23) {
  --star-tail-length: 5.5em;
  --top-offset: 68.97vh;
  --fall-duration: 9.352s;
  --fall-delay: 4.919s;
}
.star:nth-child(24) {
  --star-tail-length: 6.06em;
  --top-offset: 31.59vh;
  --fall-duration: 8.861s;
  --fall-delay: 1.48s;
}
.star:nth-child(25) {
  --star-tail-length: 6.58em;
  --top-offset: 21.27vh;
  --fall-duration: 7.023s;
  --fall-delay: 3.477s;
}
.star:nth-child(26) {
  --star-tail-length: 5.34em;
  --top-offset: 60.29vh;
  --fall-duration: 8.008s;
  --fall-delay: 4.622s;
}
.star:nth-child(27) {
  --star-tail-length: 7.18em;
  --top-offset: 43.09vh;
  --fall-duration: 7.174s;
  --fall-delay: 0.987s;
}
.star:nth-child(28) {
  --star-tail-length: 5.85em;
  --top-offset: 87.11vh;
  --fall-duration: 8.305s;
  --fall-delay: 6.672s;
}
.star:nth-child(29) {
  --star-tail-length: 7.03em;
  --top-offset: 89.59vh;
  --fall-duration: 10.401s;
  --fall-delay: 3.098s;
}
.star:nth-child(30) {
  --star-tail-length: 7.28em;
  --top-offset: 59.04vh;
  --fall-duration: 9.413s;
  --fall-delay: 0.772s;
}
.star:nth-child(31) {
  --star-tail-length: 5.18em;
  --top-offset: 73.58vh;
  --fall-duration: 10.392s;
  --fall-delay: 1.219s;
}
.star:nth-child(32) {
  --star-tail-length: 5.32em;
  --top-offset: 35.73vh;
  --fall-duration: 8.503s;
  --fall-delay: 2.245s;
}
.star:nth-child(33) {
  --star-tail-length: 7.36em;
  --top-offset: 14.58vh;
  --fall-duration: 6.283s;
  --fall-delay: 4.74s;
}
.star:nth-child(34) {
  --star-tail-length: 7.4em;
  --top-offset: 87.84vh;
  --fall-duration: 11.378s;
  --fall-delay: 7.85s;
}
.star:nth-child(35) {
  --star-tail-length: 7.33em;
  --top-offset: 73.04vh;
  --fall-duration: 8.472s;
  --fall-delay: 7.257s;
}
.star:nth-child(36) {
  --star-tail-length: 5em;
  --top-offset: 74.35vh;
  --fall-duration: 8.732s;
  --fall-delay: 6.911s;
}
.star:nth-child(37) {
  --star-tail-length: 5.3em;
  --top-offset: 76.4vh;
  --fall-duration: 10.876s;
  --fall-delay: 4.995s;
}
.star:nth-child(38) {
  --star-tail-length: 5.08em;
  --top-offset: 55.19vh;
  --fall-duration: 8.696s;
  --fall-delay: 1.679s;
}
.star:nth-child(39) {
  --star-tail-length: 5.74em;
  --top-offset: 8.85vh;
  --fall-duration: 7.857s;
  --fall-delay: 5.552s;
}
.star:nth-child(40) {
  --star-tail-length: 7.19em;
  --top-offset: 0.59vh;
  --fall-duration: 10.646s;
  --fall-delay: 3.134s;
}
.star:nth-child(41) {
  --star-tail-length: 5.24em;
  --top-offset: 87.08vh;
  --fall-duration: 10.679s;
  --fall-delay: 7.108s;
}
.star:nth-child(42) {
  --star-tail-length: 7.09em;
  --top-offset: 62.99vh;
  --fall-duration: 6.832s;
  --fall-delay: 9.593s;
}
.star:nth-child(43) {
  --star-tail-length: 6.03em;
  --top-offset: 28.28vh;
  --fall-duration: 8.8s;
  --fall-delay: 7.932s;
}
.star:nth-child(44) {
  --star-tail-length: 5.67em;
  --top-offset: 69.38vh;
  --fall-duration: 8.964s;
  --fall-delay: 1.512s;
}
.star:nth-child(45) {
  --star-tail-length: 5.61em;
  --top-offset: 83.17vh;
  --fall-duration: 7.809s;
  --fall-delay: 1.058s;
}
.star:nth-child(46) {
  --star-tail-length: 6.5em;
  --top-offset: 22.9vh;
  --fall-duration: 6.319s;
  --fall-delay: 9.701s;
}
.star:nth-child(47) {
  --star-tail-length: 5.46em;
  --top-offset: 70.65vh;
  --fall-duration: 10.438s;
  --fall-delay: 8.337s;
}
.star:nth-child(48) {
  --star-tail-length: 5.23em;
  --top-offset: 12.18vh;
  --fall-duration: 9.891s;
  --fall-delay: 2.313s;
}
.star:nth-child(49) {
  --star-tail-length: 6.81em;
  --top-offset: 34.62vh;
  --fall-duration: 8.186s;
  --fall-delay: 8.925s;
}
.star:nth-child(50) {
  --star-tail-length: 6.66em;
  --top-offset: 84.04vh;
  --fall-duration: 9.39s;
  --fall-delay: 1.565s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}